<div class="account-body">
    <div class="main-body">
        <div class="user-banner">

        </div>

        <div class="user-avatar">
            <img src="http://i.stack.imgur.com/Dj7eP.jpg" />
        </div>

        <div class="user-body" fxLayout="column" fxLayoutAlign="start center">
            <div class="user-space">

            </div>

            <div class="user-space" fxLayoutAlign="center center">
                <h1>Unnamed</h1>
            </div>

            <div class="user-space" fxLayoutAlign="center center">
                <mat-card>
                    <mat-card-content>0x678765467</mat-card-content>
                </mat-card>
            </div>

            <mat-tab-group>

                <mat-tab><ng-template mat-tab-label>
                    <span>Collected</span>
                </ng-template>Content</mat-tab>

                <mat-tab><ng-template mat-tab-label>
                    <span>
                        <button mat-button [matMenuTriggerFor]="created">Created</button>
                        <mat-menu #created="matMenu">
                            <button mat-menu-item>Items</button>
                            <button mat-menu-item>Collections</button>
                        </mat-menu>
                          
                    </span>
                </ng-template>Content</mat-tab>

                <mat-tab label="Favorited"> Content 3 </mat-tab>
                <mat-tab label="Hidden"> Content 1 </mat-tab>
                <mat-tab label="Activity"> Content 2 </mat-tab>
                <mat-tab label="Offers"> Content 3 </mat-tab>
                <mat-tab label="Listings"> Content 3 </mat-tab>
            </mat-tab-group>

        </div>
    </div>
</div>
