.home-page-body {
    width: 100%;
    min-height: 1200px;

    .home-page-head {
        height: 850px;

        .home-page-title{
            padding-top: 20px;

            h1 {
                text-align: center;
            }

            p {
                padding-top: 20px;
                text-align: center;
            }
        }

        .home-page-head-buttons {
            height: 55px;
            padding-top: 10px;

            button {
                height: 100%;
                width: 120px;
            }

        }

        .home-page-card {
            padding-top: 70px;
            // max-width: 300px;
            // max-height: 300px; ?

            .banner-card {
                width: 80%;
                box-shadow: 0 0 10px #000000;

                .header-image {
                    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
                    background-size: cover;
                }

            }

        }

        .head-page-url {
            padding-top: 30px;

            p {
                text-align: center;
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
}