.step-one-body {
    margin-top: 35px;

    #step-one-form {

        form {
            width: 100%;

            mat-form-field {
                width: 100%;
                text-align: left;
            }

        }

    }

}