.footer {

    .top-footer{
        color: #df0e0e; 
        background-color: #cccccc;
        min-height: 300px;
        box-shadow: 0 0 10px #000000;
    }

    .middle-footer {
        min-height: 100px;
        background-color: rgb(131, 131, 131);
    }
}