.explore-collections-body {
    width: 100%;
    min-height: 1600px;
    padding-bottom: 50px;

    .explore-header {
        text-align: center;
        height: 150px;

        h1 {
            padding-top: 15px;
        }
    }

    .explore-body {

        .cards-body {
            width: 100%;
            padding-top: 25px;

            .card {
                min-width: 355px;
                min-height: 355px;
                padding-top: 10px;
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }

/*     .tabs-button {   ????
        width: 100%;
    }
 */
}