<!-- <div *ngIf="detectDeviceService.isDesktop() else mobile">
    <h1>Desktop Menu</h1>
</div>

<ng-template #mobile>
    <h1>Mobile Menu</h1>
</ng-template> -->

<div class="slide-menu-body" [ngClass]="(detectDeviceService.isDesktop()) ? 'desktop': 'mobile'" fxLayout="column" fxLayoutAlign="start center">

    <span class="empty"></span>

    <div class="main-menu" *ngIf="!_touchedMain else secondMenu">
        <button mat-raised-button (click)="touchedMain()" (click)="touchedExplore()">
            <mat-icon>explore</mat-icon>Explore<mat-icon>keyboard_arrow_right</mat-icon>
        </button>
        <button mat-raised-button (click)="touchedMain()" (click)="touchedStats()">
            <mat-icon>equalizer</mat-icon>Stats<mat-icon>keyboard_arrow_right</mat-icon>
        </button>
        <button mat-raised-button (click)="touchedMain()" (click)="touchedResources()">
            <mat-icon>smartphone</mat-icon>Resources<mat-icon>keyboard_arrow_right</mat-icon>
        </button>
        <button *ngIf="_isLogged.isLogged == 1" mat-raised-button (click)="touchedMain()" (click)="touchedAccount()">
            <mat-icon>account_circle</mat-icon>Account<mat-icon>keyboard_arrow_right</mat-icon>
        </button>
        <button *ngIf="_isLogged.isLogged == 1" mat-raised-button>
            <mat-icon>wallet</mat-icon>My Wallet
        </button>
    </div>

    <ng-template #secondMenu>
        <div class="menu" *ngIf="_touchedExplore">
            <button mat-raised-button (click)="touchedMain()" (click)="touchedExplore()">
                <mat-icon>keyboard_arrow_left</mat-icon>Explore
            </button>

            <button mat-flat-button (click)="accountNavigate()">All NFTs</button>

        </div>

        <div class="menu" *ngIf="_touchedStats">
            <button mat-raised-button (click)="touchedMain()" (click)="touchedStats()">
                <mat-icon>keyboard_arrow_left</mat-icon>Stats
            </button>
        </div>

        <div class="menu" *ngIf="_touchedResources">
            <button mat-raised-button (click)="touchedMain()" (click)="touchedResources()">
                <mat-icon>keyboard_arrow_left</mat-icon>Resources
            </button>
        </div>

        <div class="menu" *ngIf="_touchedResources">
            <button mat-raised-button (click)="touchedMain()" (click)="touchedResources()">
                <mat-icon>keyboard_arrow_left</mat-icon>Resources
            </button>
        </div>

        <div class="menu" *ngIf="_touchedAccount">
            <button mat-raised-button (click)="touchedMain()" (click)="touchedAccount()">
                <mat-icon>keyboard_arrow_left</mat-icon>Account
            </button>

            <mat-divider></mat-divider>

            <button mat-flat-button (click)="accountNavigate()">Profile</button>
            <button mat-flat-button>Favorites</button>
            <button mat-flat-button>Watchlist</button>
            <button mat-flat-button>My Collections</button>
            <button mat-flat-button>Account Settings</button>
            <button mat-flat-button (click)="logOut()">Log Out</button>
            
        </div>

        <div class="menu" *ngIf="_touchedLogin">
            <button mat-flat-button (click)="touchedMain()" (click)="touchedLogin()">
                <mat-icon>keyboard_arrow_left</mat-icon>My wallet
            </button>

            <mat-divider></mat-divider>

            <div class="text-box">
                <p>Connect with one of our avaliable wallet providers or create a new one.</p>
            </div>

            <mat-card color="warm" class="wallets-card">
                <mat-card-content>
                    <button color="primary" mat-raised-button>
                        WalletConnect
                    </button>
                    <mat-divider></mat-divider>
                    <button color="primary" mat-raised-button (click)="connectMetamask()">
                        Metamask
                    </button>
                    <mat-divider></mat-divider>
                    <button color="primary" mat-raised-button>
                        Coinbase Wallet
                    </button>
                    <mat-divider></mat-divider>
                    <button color="primary" mat-raised-button>
                        Phantom
                    </button>
                </mat-card-content>
            </mat-card>
        </div>
    </ng-template>

    <div class="bottom-menu" *ngIf="_isLogged.isLogged == -1 && !_touchedMain">
        <button color="primary" class="button-wallet" mat-raised-button (click)="touchedMain()" (click)="touchedLogin()">
            Connect Wallet
        </button>
    </div>

</div>