.slide-menu-body{

    &.desktop {
        min-width: 600px;
    }

    &.mobile {
        min-width: 300px;
    }
}

.main-menu {
    width: 300px;
}

.medium-menu {
    width: 275px;
    padding-right: 10px;
}

mat-panel-title {
    font-size: 18px;
}

mat-nav-list {
    font-size: 18px;
}

mat-icon {
    padding-right: 5px;
}