<div class="full-wrapper">
    <div class="body-wrapper" [ngClass]="(detectDeviceService.isDesktop()) ? 'desktop': 'mobile'">

        <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
            <span>My Application</span>
            <app-slide-menu-button (clicked)="topClicked($event)"></app-slide-menu-button>
        </mat-toolbar>


        <mat-sidenav-container class="slide-menu-container" (backdropClick)="close()">
            <mat-sidenav #sidenav  fixedInViewport="true" disableClose>
                <app-slide-menu [_isLogged]="isLogged" [isVisible]="isOpened" (closeEvent)="close()"></app-slide-menu>
            </mat-sidenav>

            <mat-sidenav-content>

                <div class="content-container">
                    <router-outlet></router-outlet>
                </div>

                <app-footer></app-footer>
            </mat-sidenav-content>

        </mat-sidenav-container>
    </div>
</div>